$black: #000000;
$white: #ffffff;

html {
	font-family:'Open Sans', sans-serif;
}

.wrapper_super {
	width: 95%;
	margin: 0 auto;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 60%;
	margin: 0 auto;
}

#login {
	float: right;
}

#logo {
	display: block;
	margin: 0 auto;
	padding: 2rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

nav {
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		li {
			width: 16.667%;
			display: inline-block;
			float: left;
			color: #ffffff;
			text-align: center;
			padding: .60rem 0;
			letter-spacing: 1px;
			font-weight: 500;
			font-size: 1.25rem;
			-webkit-transition: all .4s ease-in-out;
  			-moz-transition: all .4s ease-in-out;
  			-o-transition: all .4s ease-in-out;
 			transition: all .4s ease-in-out;

		}
	}
}

.banner {	
	background-image: url(../images/city.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0;
	.headline_block {
		background: rgba(98, 114, 139, .7);
		width: 60%;	
		float: left;
		margin: 9rem 0 4rem 4rem;
		-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		h1 {
			padding: 1rem 0 0 1rem;
			color: $white;
			font-weight: 400;
			margin: 0;
		}
		h4 {
			padding-left: 1rem;
			margin: 0;
			width: 10%;
			float: left;
		}
		p {
			padding-left: 1rem;
			float: left;
			width: 80%;
			margin: 0 0 2rem 0;
		}
	}
}

#home_button {
	background-color: #082136;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}
#about_button {
	background-color: #0d3552;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}
#articles_button {
	background-color: #134665;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}
#contact_button {
	background-color: #4b6d89;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}
#sponsor_button {
	background-color: #728da5;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}
#ontap_button {
	background-color: #0a2135;
	&:hover{
		background-color: lighten(#134665, 50%);
	}
}

#more_stories {
	font-weight: 500;
	width: 75%;
	border-bottom: 1px solid $black;
}

.row {
	width: 100%;
	margin: 1rem 0 2rem 0;
	.thumbnail_image {
		float: left;
		width: 45%;
		margin: .5rem 7% 1rem 0;
		-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		&:hover {
			opacity: .7;
		}
	}
	.thumbnail_article {
		margin: 0;
		float: left;
		width: 45%;	
		h2, h4, p{
			margin: 0;
		}
		h2 {
			font-weight: 500;
			font-size: 1.8rem;
			margin-bottom: .1rem;
			&:hover {
				color: #728da5;
			}
		}
		h4, p {
			font-weight: 300;
		}
		h4 {
			color: #728da5;
			font-size: 1.2rem;
		}
		p{
			color: #828283;
			font-size: .8rem;
		}
		a {
			color: #858ea3;
			text-decoration: none;
			padding-top: 1.3rem;
			font-weight: 600;
			font-size: .8rem;
		}
	}
}