<div class="wrapper">
	
	<h1 id="more_stories">About Us</h1>
			<div class="row clearfix">
			</div>

	<div class="banner about_banner">

	</div>

	<div class="mission_statement">
		<h1 class="about_title">
			Our Mission Statement
		</h1>
		<p>
			<em>
				We live in an uncertain era defined by political gridlock, economic inequality, and international tension. Fortunately for our species, these anxieties are nothing new. We have persevered through these struggles before, and we shall tread onward through the challenges that face us today, all the while searching for truth and meaning in our modern world. <br/><br/>
				The name PolitiPub originated out of our belief that the most honest dialogue and innovative ideas have emerged from conversations amongst individuals gathered together while sharing frothy libations. From Chaucer’s Canterbury Tales to the American Revolution, the cultural and historical significance of ideas freely exchanged amongst clinking glasses can’t be overstated.<br/><br/>
				This website was founded to collect the voices of an unholy alliance between the progressive left and libertarian right, the most creative and forward thinking branches of the political divide, in a space where free thinkers can come together for a common purpose. Our mission is to tear down the walls of the political echo chambers erected by websites, blogs, and message boards that seek to shelter readers from outside opinions.<br/><br/>
				Here at PolitiPub, our only biases are an unflinching commitment to truth, reason, and individual liberty, including the sacred value of free speech, which we consider the foundation of any freedom loving people. We believe the only “Safe Space” is one where individuals may openly express their views without the shackles of ideological restraints. Perhaps the most significant casualty of the contemporary culture wars has been our collective failure as an informed citizenry to think independently and debate with those across the aisle without scorn of the opposition, for these are the people we desperately must communicate with if we hope to foster change.<br/><br/>
				Your mission as a reader at this website, should you choose to accept it, is to transcend the constraints of party politics and think critically regarding individual issues. Think of it as a “Choose Your Own Adventure” novel that will lead you on your transformation into a well-informed citizen. Leave the constraints of party politics behind and enter a brave new world of independent and creative thought. Along the way, we shall arm you with history, economics, sociology, literature, science, and a healthy dose of humor to assist you in your journey.<br/><br/>
			</em>
		</p>
	</div>
	
	<div class="about_body">
		<h1>
			Our Team
		</h1>
		<div class="row clearfix">
			<div class="col-66">
				<h2>Mason Matthews</h2>
				<p>
					Mason Matthews is the co-founder of PolitiPub. The idea came to him one evening while participating in his nightly routine of drinking a beer and scrolling through Facebook. After seeing how divided his friends and family have become in our current era of divided government, he realized that information overload has inadvertently reduced exposure to ideas outside of our own. There is an endless assortment of "news" websites on the internet that provide the dogma that their readership expects rather than the truth they deserve. Through algorithms and corporate sponsorship, our news feeds have evolved into extensions of our egos that seek to validate our views while demonizing the opinions of all who disagree. This is something that he realized must change through the power of hops and the written word. When he's not working to change the world through dialogue, critical thought and empathetic listening, Mason can typically be found enjoying the unparalleled craft beers and open wilderness in his native state of California. He also enjoys reading books- they're a combination of words that formulate ideas which are subsequently printed onto paper and bound between a cover. They're really cool!
				</p>
			</div>
			<div class="col-16">
				<%= image_tag("mason.jpg") %>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-16">
				<%= image_tag("daniel.jpg") %>
			</div>
			<div class="col-66">
				<h2>Daniel Donnelly</h2>
				<p>
					Things Daniel likes: His wonderful girlfriend, his attention-seeking black cat, playing and writing music, art, hiking, coffee, sleeping 10+ hours a day, the Bay Area, lifting, swimming, programming, and graphic design. Things Daniel dislikes: not sleeping enough, country music, and cucumbers. Daniel Donnelly is a co-founder of Politipub, responsible for the design and development of the site.
				</p>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-66">
				<h2>Dylan Lennard</h2>
				<p>
					Dylan has yet to write his bio. Shame, Dylan. Shame.
				</p>
			</div>
			<div class="col-16">
				<%= image_tag("dylan.jpeg") %>
			</div>
		</div>
	</div>
</div>