<div class="wrapper">
	
	<h1 id="more_stories">Contact Us</h1>
				<%= image_tag("mail.jpeg", id: "contact_image") %>
				<h4>There isn't much here yet...</h4>
				<p>However, if you do need to contact us, you can email us at <%= mail_to "politipub@gmail.com" %></p>
</div>