<div class="wrapper">
	
	<h1 id="more_stories">Contact Us</h1>
	<div class="contact-image">
		<div class="contact-image-container">
		<h4>There isn't much here yet...</h4>
		<p>However, if you need to contact us, please email <%= mail_to "politipub@gmail.com" %></p>
		</div>
	</div>
</div>