<div class="wrapper">
	
	<h1 id="more_stories">Contact Us</h1>
			<div class="wrapper_skinny">
				<%= image_tag("Email.png") %>
				<h4>Hey, look. Email us!</h4>
				<p>I was too lazy to build this page yet</p>
			</div>
</div>