<div class="wrapper">
	
	<h1 id="more_stories">On Tap, Homies</h1>
			<div class="row clearfix">
				<div class="thumbnail_article">
					<h2></h2>
					<div class="inline clearfix">
						<h5></h5>
					</div>
					<p>What's on Tap????</p>
				</div>
			</div>
</div>