<div class="wrapper">
	
	<h1 id="more_stories">Our Sponsors</h1>
			<div class="row clearfix">
				<div class="thumbnail_article">
					<h2></h2>
					<div class="inline clearfix">
						<h4><h5>| </h5>
					</div>
					<p></p>
				</div>
			</div>
</div>