/*
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
 
 @font-face {
  font-family: 'Open Sans';
  src:url('OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


/** Variables **/
$black: #000000;
$white: #ffffff;

/* General Page Properties */

*	 {
	font-family:'Open Sans', sans-serif;
}

.main {
	overflow-x: hidden;
	position: relative;
	left:0;
}

.main, .rotated, .side-menu{
	-webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.main-open {
	left: 15%;
	background-color: #ffffff;
}

.wrapper_super {
	width: 95%;
	margin: 0 auto;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 60%;
	margin: 0 auto;
}

.wrapper_more_skinny {
	width: 50%;
	margin: auto;
}

.wrapper_super_skinny {
	width: 40%;
	margin: auto;
}

.margin-top {
	margin-top: 10px;
}

.row {
	width: 100%;
	margin: 1rem 0 2rem 0;
}

.col-50 {
	width: 50%;
	float:left;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.pull_right {
	float: right;
}

.pull_left {
	float: left;
}


/* Upper Banner */

#logo {
	display: block;
	margin: 0 auto;
	padding: 0 0 1rem 0;
	max-width: 100%;
}

#upper_buttons{
	p {
		font-size: 1rem;
		margin: 1rem 0 -1.5rem 0;
		font-weight: 400;
		a {
			text-decoration: none;
			color: #000000;
			&:hover {
				color:lighten(#134665, 50%);
			}
		}
	}
	img {
		margin: .5rem 0 -1.5rem 0;
		-webkit-transition-duration: .5s;
    	-moz-transition-duration: .5s;
    	-o-transition-duration: .5s;
    	transition-duration: .5s;
	}
}

/* Navigation Bar */

nav {
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		li {
			width: 16.667%;
			display: inline-block;
			float: left;
			color: #ffffff;
			text-align: center;
			padding: .25rem 0 .2rem 0;
			letter-spacing: 1px;
			font-weight: 200;
			font-size: 1.25rem;
			font-family:'Hind', sans-serif;
			-webkit-transition: all .3s ease-in-out;
  			-moz-transition: all .3s ease-in-out;
  			-o-transition: all .3s ease-in-out;
 			transition: all .3s ease-in-out;
 			a {
 				color: $white;
				text-decoration: none;
 			}
		}
	}
}

/** Slide Bar **/

.side-menu {
	background-color: #ffffff;
	border-right: 1px solid black;
	li{
		width: 100%;
		padding: 1rem 0;
		-webkit-transition-duration: .1s;
		-moz-transition-duration: .1s;
		-o-transition-duration: .1s;
		transition-duration: .1s;
		&:hover {
			background-color: lighten(#134665, 65%);
		}
		a{
			color: #000000;
		}
	}
	position: fixed;
	top:0;
	left: -20%;
	width: 15%;
	height: 100%;
	padding: 10px;
}

.menu-open {
	left: 0px;
}

.rotated {
	transition-property: transform;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}

#home_button {
	background-color: #082136;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}
#about_button {
	background-color: #0d3552;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}
#articles_button {
	background-color: #134665;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}
#contact_button {
	background-color: #4b6d89;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}
#sponsor_button {
	background-color: #728da5;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}
#ontap_button {
	background-color: #0a2135;
	&:hover{
		background-color: lighten(#134665, 45%);
	}
}

/* Pagination */

.pagination:before, .pagination:after{
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 5rem 0 3rem 0;
	max-width: 100%;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 .35rem;
		border-radius: .25rem;
		line-height: 1.25;
		text-decoration: none;
		background: #4b6d89;
		font-weight: 700;
		font-size: .8rem;
		color: $white;
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover {
			background: lighten(#134665, 50%);
			color: $white;
		}
	}
	.current {
		background: #082136;
		color: white;
	}
	.disabled {
		color: #ffffff;
		background: #cccccc;
		&:hover {
			color: #ffffff;
			background: #cccccc;
		}
	}
}

/* Devise */

.devise-link {
	text-decoration: none;
	margin: 0;
	color: #728da5;
	font-size: 1.25rem;
	font-weight: 400;
}

/* About Page */

.about_banner {
	min-height: 350px;
	background: image-url("about_banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
	box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
}

.mission_statement {
	text-align:center;
	margin-bottom: 4rem;
	h1 {
		font-weight: 200;
		border-bottom: 1px solid black;
		margin: 2rem 0 2rem 10%;
		padding-bottom: 1rem;
		max-width: 80%;
	}

}

.about_body{
	text-align: center;
	h1 {
		font-weight: 200;
		border-bottom: 1px solid black;
		margin: 2rem 0 2rem 10%;
		padding-bottom: 1rem;
		max-width: 80%;
	}
	.row{
		margin: 3.5rem 0;
		.col-16 {
			float: left;
			width: 16%;
			padding: 0 7%;
			img {
				border-radius: 50%;
				max-width: 100%;
			}
		}
		.col-66 {
			float:left;
			width: 66%;
			p {
			 margin: 0;
			}
		}
	}
}

/* Dashboard */

.dashboard_banner {
	text-align: center;
	background-color: #404040;
	margin: 0;
	h1 {
		font-weight: 200;
		color: #ffffff;
		padding: 4rem;
		margin: 0;
	}
}

.dashboard_row {
	margin: 0;
}

.dashboard_column {
	width: 100%;
	p, h4 {
		float: left;
		margin-right: .5rem;
	}
	.dashboard_title {
		font-weight: 600;
		margin-right: .75rem;
	}
}

/* Forms */

.aboutme_text {
	min-height:300px;
}


/* Media Queries */

@media (max-width: 640px) {
	nav{
		ul{
			li{
				font-size: 1rem;
			}
		}
	}
}

@import 'normalize';
@import 'articles';
@import 'index';
@import 'author_show';