/*
 *= require_self
 *= require rails_bootstrap_forms
 */

/** Imports **/
@import "master";
@import "social-share-button";
@import "articles";
@import "authors";
@import "categories";
@import "forms";
@import "normalize";
@import "ontaps";
@import "pages";
@import "navbar";

@font-face {
  font-family: 'Open Sans';
  src:url('OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

/** General Page Properties **/

body {
	font-family:'Open Sans', sans-serif;
}

.main {
	overflow-x: hidden;
	position: relative;
	left:0;
	min-height: 100vh;
}

.main, .rotated, .side-menu{
	-webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.main-open {
	left: 15%;
	background-color: $white;
}

.wrapper_super {
	width: 95%;
	margin: 0 auto;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 60%;
	margin: 0 auto;
}

.wrapper_more_skinny {
	width: 50%;
	margin: auto;
}

.wrapper_super_skinny {
	width: 40%;
	margin: auto;
}

.margin-top {
	margin-top: 10px;
}

.row {
	width: 100%;
	margin: 1rem 0 2rem 0;
}

.col-50 {
	width: 50%;
	float:left;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.pull_right {
	float: right;
}

.pull_left {
	float: left;
}


/* Upper Banner */

#logo {
	display: block;
	margin: 0 auto;
	padding: 0 0 1rem 0;
	max-width: 100%;
}

#upper_buttons{
	p {
		font-size: 1rem;
		margin: 1rem 0 -1.5rem 0;
		font-weight: $font-slim;
		a {
			text-decoration: none;
			color: $black;
			&:hover {
				color: $text-hover-default;
			}
		}
	}
	img {
		margin: .5rem 0 -1.5rem 0;
		-webkit-transition-duration: .5s;
    	-moz-transition-duration: .5s;
    	-o-transition-duration: .5s;
    	transition-duration: .5s;
	}
}

/* Pagination */

.pagination:before, .pagination:after{
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 5rem 0 3rem 0;
	max-width: 100%;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 .35rem;
		border-radius: .25rem;
		line-height: 1.25;
		text-decoration: none;
		background: #4b6d89;
		font-weight: 700;
		font-size: .8rem;
		color: $white;
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover {
			background: lighten(#134665, 50%);
			color: $white;
		}
	}
	.current {
		background: #082136;
		color: $white;
		&:hover {
			color: #ffffff;
			background: #082136;
		}
	}
	.disabled {
		color: #ffffff;
		background: #cccccc;
		&:hover {
			color: #ffffff;
			background: #cccccc;
		}
	}
}

/* Footer */

.footer {
	width: 100%;
	background-color: $base-color;
	margin-top: 2rem;
	text-align: center;
	color: #fff;
	.footer-banner {
		width: 20%;
	}
	p {
		padding-top: 1.5rem;
		font-weight: 300;
		font-size: 18px;
		margin: 0;
	}
	.footer-links {
		margin: 1rem;
		text-align:center;
		.footer-link-row {
			margin: 0;
			padding: 0;
			text-decoration: none;
			li {
				display: inline;
				margin: 0 .5rem;
				img {
					max-width: 33px;
					border: 1px solid #fff;
					border-radius: 50%;
					padding: .25rem;
					&:hover{
						background-color: lighten(#134665, 40%); 
					}
				}
			}
		}
	}
	.footer-menu {
		width: 100%;
		margin-bottom: 1rem;
		.wrapper {
			ul {
				@include ul-default;
				li {
					display: inline;
					a {
						@include link-default;
					}
				}
			}
		}
	}
	.rights-reserved {
		color: #fff;
		p {	
			padding: 0 0 1.5rem 0;
			font-size: 10px;
		}
	}
}

/* Alerts */

.alert {
	color: #fff;
	background-color: rgba(0,0,0, .7);
	position: fixed;
	top: 5;
	left: 3;
	width: 300px;
	border-radius: 5px;
	padding:2px 11px 8px 11px;
}


/* Media Queries */

@media (max-width: 480px) {
	.banner {
		width: 100%;
	}

	#navbar{
		display: none;
	}
}