/* News Banner */

.banner {	
	@include banner-default;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	.headline_block {
		background: rgba(50, 83, 112, .7);
		width: 50%;	
		float: left;
		margin: 10rem 0 4rem 4rem;
		-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		h1 {
			padding: 1rem 0 0 0rem;
			margin: 0 0 .5rem 1rem;
		}
		a {
			font-weight: $font-light;
			border-bottom: 1px solid $white;
			width: 80%;
			@include link-default;
		}
		#author_title{
			display: inline-block;
			margin: 0 0 .25rem 0;
			h4 {
				padding-left: 1rem;
				margin: 0;
				float: left;
				color: $white;
				font-size: 1.25rem;
				font-weight: $font-slim;
			}
			p {
				padding: 0 0 0 .5rem;
				float: left;
				margin: .38rem 0 -.5rem 0;
				color: $white;
				font-size: .8rem;
			}
		}
		p {
			color: $white;
			padding:0 2rem 1rem 1rem;
			margin: -.25rem 0 0 0;
			font-weight: $font-light;
		}
		#see_more {
			color: #858ea3;
			font-weight: $font-heavy;
			font-size: .8rem;
			text-decoration: none;
			border: none;
			&:hover {
				color: $text-hover-default;
			}
		}

	}
}

/** Index **/

.index-title {
	font-weight: $font-medium;
	width: 60%;
	border-bottom: 1px solid black;
	margin-top: .5rem;
	float: left;
}

.search-title-container {
	margin-top: 2.5rem;
}

.searchbar {
	float: right;
	display: inline;
	width: 35%;
	.search-form {
		padding: 5px 12px;
		margin:0;
		width: 58%;
		margin-right: 2%;
		float: left;
		border-radius: 10px;
		border: 1px solid $base-color;
		&:focus {
			border: 1px solid $text-hover-default;
			border-radius: 10px;
			outline: 0;
		}
	}
	.btn {
		margin: 0;
		float: left;
		width: 25%;
		height: 36px;
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
	}
}

.row {
	.thumbnail_image {
		float: left;
		width: 45%;
		margin: .5rem 7% 1rem 0;
		-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover {
			opacity: .7;
			transform:scale(1.02);
		}
	}
	.thumbnail_article {
		margin: 0;
		float: left;
		width: 45%;	
		h2, h4, h5, p {
			margin: 0;
		}
		h2 {
			font-weight: $font-medium;
			font-size: 1.8rem;
			margin-bottom: .1rem;
			&:hover {
				color: $text-hover-default;
			}
		}
		h4, p {
			font-weight: $font-light;
		}
		h4 {
			color: #728da5;
			font-size: 1.2rem;
		}
		.inline {
			margin-bottom: .5rem;
			h4 {
				float:left;
			}
			h5 {
				float:left;
				margin: 5px 0 0 5px;
				font-weight: $font-light;
			}
		}
		
		p{
			color: #828283;
			font-size: .8rem;
		}

		a {
			text-decoration: none;
			color: $black;
			&:hover {
				color: $text-hover-default;
			}
		}

		.see-more {
			color: #858ea3;
			padding-top: 1.3rem;
			font-weight: $font-heavy;
			font-size: .8rem;
		}
	}
}


/** ??? **/

.article-block{
	display: inline-block;
	float: left;
	margin: 0;
	width: 45%;
	.thumbnail_image {
		width: 45%;
	}
	h2, h4, h5, p {
			margin: 0;
	}
	h2 {
		font-weight: $font-medium;
		font-size: 1.8rem;
		margin-bottom: .1rem;
		&:hover {
			color: $text-hover-default;
		}
	}
	h4, p {
			font-weight: $font-light;
		}
		h4 {
			color: #728da5;
			font-size: 1.2rem;
	}
	.inline {
		margin-bottom: .5rem;
		h4 {
			float:left;
		}
		h5 {
			float:left;
			margin: 5px 0 0 5px;
			font-weight: $font-light;
		}
	}
	p {
		color: #828283;
		font-size: .8rem;
	}

	a {
		text-decoration: none;
		color: $white;
		&:hover {
			color: $text-hover-default;
		}
	}
	.see-more {
		font-size: .8rem;
		padding-top: 1.3rem;
		font-weight: $font-heavy;
		color: #858ea3;
		&:hover {
			color: $text-hover-default;

		}
	}
}

/** Show **/

#more_stories {
	font-weight: $font-medium;
	width: 75%;
	border-bottom: 1px solid $black;
	margin-top: 3.5rem;
}

.wrapper_skinny {
	.see-more-home {
		text-align: center;
		margin: 0;
		a {
			border: 1px solid $black;
			padding: 3px 12px;
			font-size: 15px;
			border-radius: 20px;
			font-weight: $font-light;
			color: $black;
			text-decoration: none;
			-webkit-transition: all .2s ease-in-out;
  			-moz-transition: all .2s ease-in-out;
  			-o-transition: all .2s ease-in-out;
 			transition: all .2s ease-in-out;
			&:hover {
				color: $text-hover-default;
				border: 1px solid $text-hover-default;
			}
		}
	}
}

/** Show **/

.banner-show {
	min-height: 450px;
}

#links {
	margin: -20% 0 0 0;
	padding: 1rem 0 .5rem 0;
	.wrapper_skinny {
		background-color: #ffffff;
		padding: 1rem;
		text-align: center;
		margin-bottom: 3rem;
		-webkit-box-shadow: 3px -3px 28px 0px rgba(50, 50, 50, 0.55);
		-moz-box-shadow:    3px -3px 28px 0px rgba(50, 50, 50, 0.55);
		box-shadow:         3px -3px 28px 0px rgba(50, 50, 50, 0.55);
		h1 {
			color: #0d3552;
			font-size: 3rem;
			min-width: 60%;
			font-weight: $font-light;
			margin: .5rem 0 1rem 0;
			text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.05);
		}
		.inline {
			text-align:center;
			border-bottom: 1px solid $black;
			padding-bottom: 1.5rem;
			h4, h5 {
				margin: 0;
			}
			h4 {
				color: #728da5;
				a {
					text-decoration: none;
					color: $black;
					&:hover {
						color: $text-hover-default;
					}
				}
			}
			h5 {
				margin: 5px 0 0 0;
				font-weight: $font-light;
			}
		}
		.social-share-container {
			margin-top: 1.5rem;
			.share-button {
				max-height: 25px;
				margin: 1rem .5rem 0 .5rem;
				&:hover {
					@include image-hover;
				}
			}
		}
		.article-body {
			p {
				margin: 0;
				padding-bottom: 0;
				text-align: left;
				font-weight: $font-light;
			}
			img {
				max-width: 100%;
			}
			em {
				text-align: center;
				margin: 1rem 0;
				padding: 0;
			}
			a {
				color: blue;
				text-decoration: none;
			}
		}

	}
	p {
		padding: 1rem 2.5rem;
	}
	.author-image {
		max-height: 100px;
		max-width: 100px;
		border-radius: 50%;
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover {
			@include image-hover;
			transform:scale(1.02);
		}
	}
	ul {
		list-style:none;
		padding-left: 0;
		padding: .5rem 0;
		text-align:center;
		li {
			display: inline;
			margin: 0 .5rem;
			font-weight: $font-heavy;
			a {
				text-decoration: none;
				color: #262626;
				&:hover {
					color: $text-hover-default;
				}
			}
		}
	}
}
.check_out {
	h3{
		border-bottom: 1px solid $black;
		padding-bottom: 1rem;
		font-weight: $font-slim;
	}
	.col-3 {
		float: left;
		width: 31%;
		padding: 0 2% 0 0;
		img {
			max-width: 100%;
			max-height: 150px;
			-webkit-transition: all .3s ease-in-out;
  			-moz-transition: all .3s ease-in-out;
  			-o-transition: all .3s ease-in-out;
 			transition: all .3s ease-in-out;
			&:hover {
				@include image-hover;
				transform:scale(1.02);
			}
		}
		h4, p {
			margin: 0;
		}
		p {
			font-weight: $font-light;
		}
		margin-bottom: 4rem;
	}
	.random_article_links {
		h4, p {
			a { 
				text-decoration: none;
				color: $black;
				&:hover {
					color: $text-hover-default;
				}
			}
		}
	}
}