/* Category Labels */

.category_button {
	color: #ffffff !important;
	padding: 2px 12px;
	margin-left: 2px;
	border-radius: 20px;
	background-color:#0f0f0f;
	&:hover{
		background-color: lighten(#134665, 25%) !important;
	} 
}

#local {
	background-color: #082136;
}

#world {
	background-color: #0d3552;
}

.category_label {
	margin: 1rem 0 1rem 0 !important;
	span {
		margin-right: .5rem;
	}
}

.category-block {
	width: 30%;
	margin: 1rem 1.5%;
	float:left;
	text-align: center;
	.category-article-image {
		width:100%;
		-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover {
			opacity: .7;
			transform:scale(1.02);
		}
	}
	h2 {
		font-size: 32px;
		font-weight: 300;
		text-align: center;
		border-bottom: 1px solid #000;
		margin: 0;
		a {
			text-decoration: none;
			color: #000;
			&:hover {
				color:lighten(#134665, 50%);
			}
			
		}
	}
	.category-description {
		color: #858ea3;
		font-weight: 300;
	}
	p {
		margin: .5rem 0;
		color: #828283;
	}
}