#index-title {
	font-weight: 500;
	width: 75%;
	border-bottom: 1px solid black;
	margin-top: 3.5rem;
}


.article-block{
	display: inline-block;
	float: left;
	margin: 1%;
	width: 30%;
	.thumbnail_image {
		width: 70%;
		height: 100px;
	}
	h2 {
		width: 50%;
		font-weight: 200;
		a {
			text-decoration: none;
			color: #000000;
			&:hover {
				color: lighten(#134665, 50%);
			}
		}
	}
}

.searchbar {
	float: right;
	display: inline;
	.search-form {
		padding: 5px 12px;
		margin-right: 2px;
		min-width: 250px;
	}
	.btn {
		background-color: #728da5;
		border: 1px solid #728da5;
		margin: 0;
		-webkit-transition: all .3s ease-in-out;
  		-moz-transition: all .3s ease-in-out;
  		-o-transition: all .3s ease-in-out;
 		transition: all .3s ease-in-out;
		&:hover{
			background-color: lighten(#134665, 45%);
			border: 1px solid lighten(#134665, 45%);
		}
	}
}