// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Dashboard */

.dashboard_banner {
	text-align: center;
	background: rgb(16,60,81); 
	/* Old browsers */
		background: -moz-linear-gradient(45deg, rgba(16,60,81,1) 0%, rgba(21,87,112,1) 50%, rgba(67,124,123,1) 100%); 
		/* FF3.6-15 */
		background: -webkit-linear-gradient(45deg, rgba(16,60,81,1) 0%,rgba(21,87,112,1) 50%,rgba(67,124,123,1) 100%); 
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg, rgba(16,60,81,1) 0%,rgba(21,87,112,1) 50%,rgba(67,124,123,1) 100%); 
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103c51', endColorstr='#437c7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		margin: 0;
	h1 {
		font-weight: $font-light;
		color: $white;
		padding: 6rem 0;
		margin: 0;
	}
}

.account {
	float: left;
	margin: .5rem 4rem 0 0;
	padding: 0;
	text-decoration: none;
	color: $black;
	&:hover {
		color: $text-hover-default;
	}

}

.account_settings {
	float:right;
	margin-top: .5rem;
	padding: 0;
	text-decoration: none;
	color: $black;
	&:hover {
		color: $text-hover-default;
	}

}

.dashboard-body {
	text-align: center;
	min-height: 600px;
	ul {
		li {
			display: inline-block;
			list-style: none;
			margin-right: 2rem;
			font-size: 20px;
			p{
				border-bottom: 1px solid $black;
				&:hover{
					color: #9BC4EC;
					cursor: pointer;
				}
			}
		}
	}
	.admin-tab {
		display: none;
	}

	table {
	    border-collapse: collapse;
	    width: 100%;
	}

	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	    a {
	    	img {
	    		width: 15px;
	    		margin: 0;
	    		padding: 0;
	    	}
	    }
	}
}

#article_dashboard_block {
	margin-top: 2.5rem;
}

/* About Page */

.about_banner {
	min-height: 350px;
	background: image-url("about_banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
	box-shadow: 10px 15px 40px -8px rgba(0,0,0,0.55);
}

.mission_statement {
	text-align: center;
	margin-bottom: 2rem;
	.about_title {
		font-weight: $font-light;
		border-bottom: 1px solid black;
		margin: 2rem 0 2rem 0 !important;
		padding-bottom: 1rem;
		margin: 0;
	}
	#beer {
		height: 45px;
	}

}

.about_body{
	text-align: center;
	h1 {
		font-weight: $font-light;
		border-bottom: 1px solid $black;
		margin: 2rem 0 2rem 10%;
		padding-bottom: 1rem;
		max-width: 80%;
	}
	.row{
		margin: 3.5rem 0;
		.col-16 {
			float: left;
			width: 16%;
			padding: 0 7%;
			img {
				border-radius: 50%;
				max-width: 100%;
				margin-top: 4rem;
			}
		}
		.col-66 {
			float:left;
			width: 66%;
			h2 {
				font-weight: $font-slim;
				margin-bottom: .25rem;
			}
			.about-me-title {
				font-size: 18px;
				margin-bottom: .5rem;
				color: #5b5b5b;
			}
			p {
			 margin: 0;
			}
		}
	}
}

.cat-block {
	width: 48%;
	h2 {
		font-weight: $font-slim;
		margin-bottom: .25rem;
	}
	.about-me-title {
		font-size: 18px;
		color: #5b5b5b;
		margin: 0 0 .5rem 0;
	}
	float: left;
	margin: 2rem 1%;
	img {
		width: 30%;
		border-radius: 50%;
	}
}

/* Contact Page */

.contact-image {
	@include banner-default;
	margin: 0;
	width: 100%;
	background-image: image-url('mail.jpeg');
	.contact-image-container {
		color: $white;
		padding: 8rem;
		text-align: center;
		h4 {
			font-size: 28px;
		}
		h4, p {
			text-shadow: 9px 4px 8px rgba(0, 0, 0, 1);
		}
		a {
			color: #fff;
			&:hover {
				color: $text-hover-default;
			}
		}
	}
}