<div class="wrapper">
	<div class="clearfix search-title-container">
		<h1 class="index-title">Categories</h1>
	</div>
	<div class="clearfix">
		<% @categories.each do |category| %>
			<div class="category-block">
				<%= link_to image_tag(category.image(:medium), class: "category-article-image"), category %>
				<h2><%= link_to category.name, category %></h2>
				<p class="category-description"><%= category.description %></p>
				<p>Articles (<%= category.articles.count %>)</p>
			</div>
		<% end %>
	</div>
</div>