<div class="wrapper">
	<div class="clearfix search-title-container">
		<h1 class="index-title">Categories</h1>
	</div>
	<% @categories.each do |category| %>
	<div class="clearfix">
		<div class="category-block">
			<%= link_to image_tag(category.image(:medium), class: "category-article-image"), category %>
			<h2><%= link_to category.name, category %></h2>
			<p>Articles (<%= category.articles.count %>)</p>
			<p><%= @category.description %></p>
		</div>
	</div>
<% end %>
</div>