<!DOCTYPE html>
<html>
<head>
  <title>Politipub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="wrapper_super clearfix" id="upper_buttons">
		<img src="images/menu_block.png">
		<p class="pull_right">Login//Sign Up</p>
	</div>
	<div class="wrapper_wide">
		<a href=""><img src="images/banner.png" id="logo"></a>
	</div>

	<header>
		<nav class="clearfix">
			<ul>
				<li id="home_button">Home</li>
				<li id="about_button">About</li>
				<li id="articles_button">Articles</li>
				<li id="contact_button">Contact</li>
				<li id="sponsor_button">Sponsor</li>
				<li id="ontap_button">On Tap</li>
			</ul>
		</nav>
	</header>
<%= yield %>

</body>
</html>
